.open-seat {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(241, 203, 154);
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 3
}

.open-seat:hover,
.open-seat:active {
  background: rgb(231, 138, 17);
}

.open-seat:focus {
  outline: none;
}