.player {
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 3
}

.player.covered {
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 3
}

.player:hover,
.player:active {
    border: 5px solid rgb(155, 0, 0);
}

.player:focus {
  outline: none;
}
